body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

/*  change scrollbar style */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7a43b6;
  border-radius: 10px;
}

body {
  margin: 0;
  background-color: #010824;
  color: #eee;
  font-size: 15px;
  min-height: 100vh;
  background-image: repeating-linear-gradient(to right, transparent 0 49px, #eee1 49px 50px),
    repeating-linear-gradient(to bottom, transparent 0 49px, #eee1 49px 50px);
  &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: '';
    background-image: linear-gradient(to right, #d02e23, #7a43b6);
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px);
  }
}

main {
  width: min(1300px, 100%);
  margin: auto;
}
